.comingsoon-container-c {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fb;
}

.comingsoon-content-c {
    background: #ffffff;
    padding: 60px 100px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.comingsoon-icon-c {
    font-size: 80px;
    color: #007bff;
    margin-bottom: 20px;
}

.comingsoon-content-c h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
}

.comingsoon-content-c p {
    font-size: 18px;
    color: #666;
}